body{
    font-family: "Tajawal", sans-serif;
    direction: rtl;
}
.single-price-box .feature-list li{
    text-align: right;
}
.main-nav ul li a {
    font-weight: 600;
}
.main-nav ul li:hover ul.sub-menu{
    margin-top: 10px;
}
header{
    direction: ltr;
}
.footer-menu li a{
    padding-right: 16px;
}
.footer-menu li a:hover::after{
    right: 0;
}
.footer-menu li a:hover:before{
    right: 0;
}
input{
    direction: ltr;
}
